<title>Enter player names</title>
<h1> Enter player names </h1>

<form action="/names" method="post">
  <li>
    <label for="player_one">Player one name:</label>
    <input type="text" name="player_one">
  </li>
  <li>
  <label for="player_two">Player two name:</label>
  <input type="text" name="player_two">
  </li>
  <input type="submit" value="Submit">
</form>
