<h1> You've instantly KO'd <%= @game.other_player.name %>! </h1>
<% @game.ko(@game.other_player) %>
<p> <%=@game.other_player.name %> HP: <%= @game.other_player.hp %></p>

<% @game.switch_turns%> 
<% @game.other %>
<a href="/battle">Back to the battle!</a>
